In [1]:
import pandas as pd

In [85]:
mt = pd.read_csv('230525_mt.csv')

In [86]:
for k,i in enumerate(mt.columns[1:]):
    print(i)
    mt.iloc[:,k+1] = mt.iloc[:,0].str.match(i.replace('+','\+')).apply(int)

-_1
- J106_1
- 35_1
- 10_1
- DA4_1
- DA9_1
+ J106_1
35-20_1
35-18_1
35-16_1
35-14_1
35-12_1
35-10_1
10-18_1
10-16_1
10-14_1
10-12_1
10-10_1
0_35-20_1
0_35-18_1
0_35-16_1
0_35-14_1
0_35-12_1
0_35-10_1
0_10-18_1
0_10-16_1
0_10-14_1
0_10-12_1
0_10-10_1
0_- 35_1
0_- 10_1
0_- J106_1
0_+ J106_1
1_35-20_1
1_35-18_1
1_35-16_1
1_35-14_1
1_35-12_1
1_35-10_1
1_10-18_1
1_10-16_1
1_10-14_1
1_10-12_1
1_10-10_1
1_- 35_1
1_- 10_1
1_- J106_1
1_+ J106_1
-_2
- J106_2
- 35_2
- 10_2
- DA4_2
- DA9_2
+ J106_2
35-20_2
35-18_2
35-16_2
35-14_2
35-12_2
35-10_2
10-18_2
10-16_2
10-14_2
10-12_2
10-10_2
0_35-20_2
0_35-18_2
0_35-16_2
0_35-14_2
0_35-12_2
0_35-10_2
0_10-18_2
0_10-16_2
0_10-14_2
0_10-12_2
0_10-10_2
0_- 35_2
0_- 10_2
0_- J106_2
0_+ J106_2
1_35-20_2
1_35-18_2
1_35-16_2
1_35-14_2
1_35-12_2
1_35-10_2
1_10-18_2
1_10-16_2
1_10-14_2
1_10-12_2
1_10-10_2
1_- 35_2
1_- 10_2
1_- J106_2
1_+ J106_2
-_3
- J106_3
- 35_3
- 10_3
- DA4_3
- DA9_3
+ J106_3
35-20_3
35-18_3
35-16_3
35-14_3
35-12_3
35-10_3
10-18_3
10-16_3
10-14_3
10-12_3
10-10_3
0_35-20_3
0_35-18_3
0_35-16_3
0_35-14_3
0_35-12_3
0_35-10_3
0_10-18_3
0_10-16_3
0_10-14_3
0_10-12_3
0_10-10_3
0_- 35_3
0_- 10_3
0_- J106_3
0_+ J106_3
1_35-20_3
1_35-18_3
1_35-16_3
1_35-14_3
1_35-12_3
1_35-10_3
1_10-18_3
1_10-16_3
1_10-14_3
1_10-12_3
1_10-10_3
1_- 35_3
1_- 10_3
1_- J106_3
1_+ J106_3

In [87]:
mt.to_csv('1_230525_mt.csv', index = False)

In [74]:
mt.sum()

Unnamed: 0    -_1_0- J106_1_0- 35_1_0- 10_1_0- DA4_1_0- DA9_...
-_1                                                           2
- J106_1                                                      2
- 35_1                                                        2
- 10_1                                                        2
                                    ...
1_10-10_3                                                     6
1_- 35_3                                                      2
1_- 10_3                                                      2
1_- J106_3                                                    2
1_+ J106_3                                                    6
Length: 145, dtype: object

In [79]:
i.contains()

AttributeError: 'str' object has no attribute 'contains'

In [83]:
mt

,Unnamed: 0,-_1,- J106_1,- 35_1,- 10_1,- DA4_1,- DA9_1,+ J106_1,35-20_1,35-18_1,...,1_35-10_3,1_10-18_3,1_10-16_3,1_10-14_3,1_10-12_3,1_10-10_3,1_- 35_3,1_- 10_3,1_- J106_3,1_+ J106_3
0,-_1_0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,- J106_1_0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,- 35_1_0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,- 10_1_0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,- DA4_1_0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,1_10-10_3_5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
716,1_- 35_3_5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
717,1_- 10_3_5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
718,1_- J106_3_5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
719,1_+ J106_3_5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1